@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    background-color: #171717;
    color: #C1C1C1;
    margin: 0px;
    font-family: Ubuntu;
}

.wrapper {
    display: grid;
    margin: 40px;
    grid-template-columns: auto auto auto;
}

.container {
    grid-column: 2;
}

hr {
    margin: 25px 0;
    border: none;
    height: 2px;
    background-color: #37415b;
}

h1 {
    margin: 25px 0;
}

h2 {
    margin: 10px 0px;
}

h3 {
    margin: 25px 0 15px 5px;
}

li {
    margin: 5px;
}

li b {
    color: #6485dd;
    display: inline-block;
    margin: 2px 5px 2px 0;
}

.quote {
    display: inline-block;
    border: 1px solid #37415b;
    margin: 5px 5px 5px 10px;
    border-radius: 3px;
    padding: 1px 6px;
    font-family: "consolas";
}